
<form action="/result" method="post">
<h1>送る時の名前</h1>
<input type="text" name="name">
<h1>アバターURL※任意</h1>
<input type="text" name="avater">
<h1>タイトル</h1>
<input type="text" name="message2">
<h1>内容</h1>
  <textarea name="message" rows="5" cols="40"></textarea>
<h1>色</h1>
<input type="color" name="color">
<h1>URL</h1>
  <input type="text" name="message3">
  <input type="submit" value="送信">
</form>
